#footer{
  .elementor-widget-nav-menu{
    ul{
      li{
        a{
          position: relative;
          &:before{
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            background: url("/wp-content/uploads/2025/12/right-caret.png");
            width: 9px;
            height: 15px;
            transform: translateY(-50%);
            opacity: 1 !important;
          }
        }
      }
    }
  }
  .elementor-widget-text-editor{
    a{
      color: #fff;
    }
  }
}