@import "header";
@import "footer";
@import "home";
@import "about_us";
@import "our_services";
@import "contact";
@import "shop";
// Container form
body{
  padding: 0 !important;
}

.section-title{
  .elementor-heading-title{
    position: relative;
    padding-left: 28px;
    @media screen and (max-width: 767px) {
      padding-left: 23px;
    }
    &:before{
      content: "#";
      color: var( --e-global-color-primary );
      position: absolute;
      top: 0;
      left: 0;
      font-size: 32px;
      font-weight: bold;
      font-style: italic;
      @media screen and (max-width: 767px) {
          font-size: 25px;
      }
    }
  }
  
}

.category-list{
  .jkit-product-categories{
    > div{
      background: #f0f0f0;
      border-radius: 8px;
      transition: all 0.3s ease;
      padding: 30px;
      
      .jkit-category-thumbnail{
        margin: 0 auto;
        img{
          aspect-ratio: 1/1;
        }
      }
      .jkit-product-category-count{
        position: absolute;
        top: 15px;
        right: 15px;
        background: var( --e-global-color-primary );
        border-radius: 50%;
        width: 33px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        border: 1px solid var( --e-global-color-primary );
        @media screen and (max-width: 767px) {
          top: 10%;
          right: 10%;
        }
      }
      &:hover{
        background: var( --e-global-color-primary );
        .jkit-product-category-content{
          color: white !important;
        }
        .jkit-product-category-count{
          color: var( --e-global-color-primary ) !important;
          background: white;
        }
      }
    }
  }
}





.js-slider{
  style{
    display: none !important;
  }

  .slick-arrow{
    border: none;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: -99999px;
    font-size: 0;
    padding: 0;
    background: rgba(204,204,204,0.5);
    border-radius: 50%;
    z-index: 1;
    &:hover, &:focus{
      background: var( --e-global-color-primary );
    }
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &.slick-prev{
      left: -40px;
      @media screen and (max-width: 1024px) {
        left: 0;
      }
      &:before{
        background: url("/wp-content/uploads/2025/12/left-arrow.png") no-repeat center center;
      }
    }
    &.slick-next{
      right: -40px;
      @media screen and (max-width: 1024px) {
        right: 0;
      }
      &:before{
        background: url("/wp-content/uploads/2025/12/right-caret-1.png") no-repeat center center;
      }
    }
  }
}

#cart_page, #checkout_page{
  #place_order, .checkout-button{
    color: white;
    background-color: var( --e-global-color-primary );
    border-radius: 50px !important;
    border: 1px solid var( --e-global-color-primary );
    transition: all 0.3s ease;
    &:hover{
      background: white;
      color: var( --e-global-color-primary );
    }
  }
  table{
    &.shop_table{
      td.product-name, td.product-name a, td.product-total *, tr.cart-subtotal *, tr.order-total *{
        color: black;
      }
    }
  }
}